@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(249, 252, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.loader {
  margin-top: 15px;
  margin-bottom: 15px;
  /* display: flex;
  justify-content: center; */
}

h2 {
  font-family: 'Ubuntu';
  text-transform: uppercase;
  -webkit-text-stroke: 1px #1782d2;
  color: transparent;
  -webkit-text-stroke: 1px #1782d2;
}

h3 {
  font-family: 'Ubuntu';
  text-transform: uppercase;
  -webkit-text-stroke: 1px #1782d2;
  color: transparent;
  -webkit-text-stroke: 2px #1782d2;
}
