ul {
  width: 50%;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #1782d2;
  border-radius: 5px;
  margin-top: 5px;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}
